module.exports = {
	// Port to run the app
	port: 3000,
	// Salt to generate different hashes in gleaner
	salt: 'yoursalthereplease',
	// Mongodb host
	mongoHost: 'localhost',
	// Mongodb port
	mongoPort: 27017,
	// Name of the mongo db database
	dbName: 'gleaner',
	// Redis host
	redisHost: 'localhost',
	// Redis port
	redisPort: 6379,
	// Redis database index
	dbIndex: 0
};