module.exports = {
	// Port to run the app
	port: 3000,
	// Salt for user session generation
	salt: 'yoursalthereplease',
	// Salt for game play token generation
	gamePlaySalt: 'gamePlaySalt',
	// Host of mongodb
	dbHost: 'localhost',
	// Port for mongodb
	dbPort: 27017,
	// Name of gleaner database
	dbName: 'gleaner-xml'
};